<%= stylesheet_link_tag "micro", media: "all"%>

<body>
<p class='title'>Moderation Page</p>
<br>
<hr>
<br>
<p class='important'>Delete Ad</p>
<br>
<form action="/Ads/delete" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	ID Annuncio: <%= text_field_tag "id" %>
	<br>
	<%= submit_tag("Delete Ad") %>
</form>
<br>
<hr>
<br>
<a href="/transactions">See Transactions</a>
<br>
<hr>
<br>
<a href="/modmessages">See received reports</a>
</body>
