<div>
	<ul>
	<li><%= link_to "Hello, #{current_user.nickname}", "#" %></li>
	<li><%= link_to "Inbox", mail_inbox_path %>

	</li></br>
	</ul>
	<div class="navbar-header">
	<%= link_to "TimeSharing", root_path, class: "navbar-brand" %>
	</div>
</div>
